footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: 'Mallanna';
}

#third-column {
    width: 200px;
}

img {
  width: 150px;
}

p {
    font-size: 25px;
}